@@charset "UTF-8";

a {
  color: #000;
  text-decoration: none;
}

.container {
  max-width: 1160px;
  padding: 0 40px;
}

/**********************/
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
}

.logo {
  padding: 10px 20px;
  display: inline-block;
  margin-left: 50px;
}

.logo img {
  height: 75px;
}

nav {
  margin-left: auto;
  margin-right: 50px;
}

nav ul {
  display: flex;
}

nav ul li a {
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
}

/**********************/
/*--ヘッダー--*/
body {
  margin: 0 auto;
  font-family: 'Kaisei Decol', serif;
  font-size: 18px;
}

/*--トップビュー--*/
.area_top_view {
  background: url(../img/coffee-bg.png) no-repeat bottom center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.area_top_view>.container {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 120px;
  top: 90px;
  font-size: 20px;
}

.area_top_view img {
  height: 200px;
  z-index: 10;
}

.area_top_view p {
  font-size: 22px;
  z-index: 10;
}

.square {
  position: absolute;
  width: 300px;
  height: 240px;
  opacity: .87;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 0 86px 86px #fff;
  border-radius: 60px;
  filter: blur(30px);
}

/*--エリア_ホーム--*/
[class*="area_home"] {
  padding: 80px 0;
}

/*--ヘッド_ホーム--*/
.head_home {
  display: flex;
  justify-content: center;
}

.head_home .ttl {
  position: relative;
  padding: 7px 20px;
  margin-bottom: 80px;
  border-top: solid 1px #343434;
  border-bottom: solid 1px #343434;
  font-size: 22px;
}

/*News*/
.area_home_news {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.newslist {
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .newslist {
    font-size: 12px;
    padding: 0 15px;
  }
}

.newslist li {
  display: flex;
  align-items: center;
  /*align-items: flex-start;*/
  padding: 20px 10px;
  border-top: 1px solid #bcbcbc;
  line-height: 1.5;
}

.newslist li:last-child {
  border-bottom: 1px solid #bcbcbc;
}

.newslist li time {
  padding-right: 20px;
}

.newslist li a {
  color: cornflowerblue;
  text-decoration: none;
}
