@@charset "UTF-8";

a {
  color: #000;
  text-decoration: none;
}

.container {
  max-width: 1160px;
  padding: 0 40px;
}

i {
  color: #fff;
  font-size: 1.3rem;
}

/**********************/
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 10px;
  z-index: 100;
}

.logo {
  padding: 10px 20px;
  display: inline-block;
  margin-left: 50px;
}

.logo img {
  height: 75px;
}

nav {
  margin-left: auto;
  margin-right: 50px;
}

nav ul {
  display: flex;
}

nav ul li a {
  padding: 0 20px;
  color: #fff;
  text-decoration: none;

}

nav ul li a :hover{

}
/*
nav ul li a ::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0;
  height: 1px;
  background: #fff;
  transition: all 0.4s;
}
*/
/*
nav ul li :hover nav ul li a ::after{
  width: 100%;
}
*/

/**********************/
/*--ヘッダー--*/
body {
  margin: 0 auto;
  font-family: 'Kaisei Decol', serif;
  font-size: 18px;
  color: #4e454a;
  background-color: #fbfaf5;
  justify-content: center;
}

/*--トップビュー--*/
.area_top_view {
  background: url(../img/coffee-bg.png) no-repeat bottom center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.area_top_view>.container {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 120px;
  top: 90px;
  font-size: 20px;
}

.area_top_view img {
  height: 200px;
  z-index: 10;
}

.area_top_view p {
  font-size: 22px;
  z-index: 10;
}

.square {
  position: absolute;
  width: 300px;
  height: 240px;
  opacity: .87;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 0 86px 86px #fff;
  border-radius: 60px;
  filter: blur(30px);
}

/*--エリア_ホーム--*/
[class*="area_home"] {
  padding: 80px 0;
}

/*--ヘッド_ホーム--*/
.head_home {
  display: flex;
  justify-content: center;
}

.head_home .ttl {
  position: relative;
  padding: 7px 20px;
  margin-bottom: 80px;
  border-top: solid 1px #4e454a;
  border-bottom: solid 1px #4e454a;
  font-size: 23px;
}

/*News*/
.area_home_news {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.area_home_news .container {}

.newslist {
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .newslist {
    font-size: 12px;
    padding: 0 15px;
  }
}

.newslist li {
  display: flex;
  align-items: center;
  /*align-items: flex-start;*/
  padding: 20px 10px;
  border-top: 1px solid #bcbcbc;
  line-height: 1.5;
}

.newslist li:last-child {
  border-bottom: 1px solid #bcbcbc;
}

.newslist li time {
  padding-right: 20px;
}

.newslist li a {
  color: #7d7d7d;
  text-decoration: none;
}

.newslist li a :hover {
  color: #7d7d7d;
  opacity: 0.8;
}

/*--ボタン--*/
.btnarea {
  margin: 50px auto;
}

.btnarea a {}

.btn {
  display: inline-block;
  padding: 0.45em 1.3em;
  text-decoration: none;
  color: #4e454a;
  border: solid 1px #4e454a;
  transition: .4s;
}

.btnarea :hover {
  background: #4e454a;
  color: white;
}

/*--メニュー--*/
.area_home_menu {
  display: flex;
  justify-content: center;
  text-align: center;
  background: url(/Users/grizzly/Desktop/website-project-1/assets/img/p0005_l.png);
  z-index: 999;
}

.items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.items-top {
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.items-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.box {
  width: 300px;
  height: 300px;
  margin: 0 40px;
  background: gray;
}

.box img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.box p {
  margin: 0 auto;
}

/*--コンセプト--*/
.area_home_concept {
  display: flex;
  justify-content: center;
  padding: 0;
  padding: 80px 0;
}

.area_home_concept .body_home {
  position: relative;
  z-index: 50;
  align-items: center;
}

.area_home_concept .container {}

.concept-bg img {
  height: 800px;
  text-align: center;
}

.concept-txt {
  position: absolute;
  right: -20px;
  top: 15px;
  width: 520px;
  height: 230px;
  background: #fff;
  padding: 20px;
  margin: 0 auto;
}

.concept-txt-box {
  color: #4e454a;
  margin: 25px;
}

.concept-txt h3 {
  text-align: center;
  margin: 0 auto;
}

/*--アクセス--*/
.area_home_access {
  display: flex;
  justify-content: center;
  text-align: center;
}

.area_home_access .body_home {
  display: flex;
  text-align: center;
  margin: 0 calc(50% - 50vw);
}

/*--フッター--*/
footer {
  background: #e8e1d8;
}

.footer-logo {
  display: flex;
  justify-content: center;
}

.footer_home img{
  height: 100px;
  margin-bottom: 50px;
}

.footer_home img:hover{
  opacity: 0.8;
}

.footer_home p {
  text-align: center;
  margin: 50px auto 15px auto;
}

.footer-list {
  margin: 30px;
}

.footer-list ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin-bottom: 50px;
}

.footer-list li {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding-left: 13px;
  padding-right: 13px;
}

.footer-list li+li {
  border-left: 1px solid #4e454a;
}

.footer-list ul li a {
  color: #4e454a;
  text-decoration: none;
  text-align: center;
}

.footer-list li :hover{
  opacity: 0.8;
}

.icon {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.icon a {
  padding: 10px;
}

.icon a :hover{
  opacity: 0.8;
}

.icon a i{
  color: #4e454a;
}
